/node_modules/
/lib/
/test/
/dist/
/docs/node_modules
custom-elements.json
# top level source
pairing.md
# docs
docs/pids
docs/logs
docs/node_modules
docs/npm-debug.log
docs/coverage/
docs/run
docs/dist
docs/.DS_Store
docs/.nyc_output
docs/.basement
docs/config.local.js
docs/basement_dist
/docs/src/.vuepress/dist